# ignore directories started with underscores
#
_*/

# ignore files in vagrant directory
**/.vagrant/

# Ignore Cache objects
**/packer_cache/

# Ignore built boxes
**/*.box

# Ignore tempoarary VDI
**/*.vdi
